<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Edit Demo</title>
		<link rel="stylesheet" type="text/css" href="static/layui/css/layui.css"/>
		<script src="static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<textarea id="demo"></textarea>
		
		<script type="text/javascript">
			var index = null;
			var layedit = null;

			layui.use(["layer", "layedit"], function() {
				layedit = layui.layedit;
				layedit.set({
					uploadImage: {
						url: '/edit/upload/image', //接口url
						type: 'post', //默认post
					}
				});
				index = layedit.build('demo'); //建立编辑器
			});

		</script>
		
	</body>
</html>
